/**
 * FinFlow - Responsive CSS
 * @author Adrian S. (http://www.gridwave.co.uk/)
 * @version 1.0
 */

/* Small desktop */
@media (max-width: 1024px) {
    table.list tr td:last-child, table.list tr th:last-child{
        min-width: 5.8em;
    }

    .navbar .nav{
        clear: right;
        margin-right: 50px;
    }

    .navbar .btn.pull-right{
        margin-bottom: 10px;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 800px){

    .navbar .btn.pull-right{
        padding: .4em;
    }

    .row.content .span10{
        width: 724px;
        clear:both;
    }

    .row.content .span2{
        margin-top: 10px;
        padding-top:15px;
        width: 724px;
        border-top: 1px solid #DDD;
    }

    label{
        width: 20%;
    }

    .navbar .btn, .navbar .btn-group{
        margin-top: 3px;
    }

    .navbar-inner a.default{
        margin-right:5px;
    }
}

@media screen and (max-width: 768px){
    .navbar .nav>li>a{
        padding: 10px 10px 10px;
    }

    .navbar .navbar-inner > a.pull-right{
        display: block;
        padding: 10px 15px;
        margin: 10px 15px;
    }

    .navbar .nav{
        clear: both;
        width: 100%;
        border-bottom: 1px solid #CACACA;
        border-top: 1px solid #CACACA;
    }

    .navbar-inner{
        padding: 0px;
    }

    .navbar-inner .brand{
        display: block;
        width: 98%;
    }

    table.list tr td:last-child, table.list tr th:last-child{
        min-width: auto;
    }

    table.list{
        max-width: 724px;
        border-collapse:collapse; table-layout:fixed;
        word-wrap: break-word;
    }

    table.list tr td:last-child a.btn, table.list tr td:last-child button.btn{
        display: block;
        clear: both;
        margin-bottom: 10px;
    }

    .container-login.inner-container{
        width: auto;
    }
}

/* Landscape phones and smaller devices */
@media (max-width: 600px) {
    .row.content .span10, .row.content .span2{
        width: 100%;
    }

    .navbar .nav li{
        width: 100%;
        clear: both;
        border-bottom: 1px solid #CACACA;;
    }

    .nav.nav-tabs li{
        display: block;
        width: 100%;
        clear: both;
    }

    .nav.nav-tabs li a, .nav.nav-tabs > li > a:hover{
        border: 1px solid #CACACA;
        border-radius: 0px;
    }

    .nav.nav-tabs li li a{
        border: none;
    }

    .nav.nav-tabs li li{
        width: 100%;
    }

    .nav.nav-tabs .dropdown-menu{
        min-width: 98.99%;
    }

    label{
        width: 100%;
    }
}

@media (max-width: 340px) {
    label{
        width: 100%;
    }

    label.wrap-input{
        margin-left: 0px !important;
    }
}