@CHARSET "UTF-8";

html, body {
    font-size: 100%;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-weight: normal;
    color: #000;
}

body {
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: #fff;
    overflow-y: scroll;
}

.align-center,
.pagination-bottom{
    text-align: center;
    vertical-align: middle;
}

.progress{
    height: 48px;
    overflow: hidden;
}

.progress-bar{
    font-size: 1em;
}

.progress .indicator-title{
    text-align: center;
    padding: 10px;
    max-height: 48px;
    height: auto;
    font-size: 1.3em;
}

.sidebar .widget{
    clear: both;
    margin-bottom: 20px;
}

.main .nav-tabs{
    margin-bottom: 20px;
}

.balance{
    margin-top: 10px;
}

table td, .table>tbody>tr>td{
    line-height: 33px;
}

.input-group-addon.captcha-img-addon{
    padding: 0px 12px;
}

.input-group-addon .captcha-img{
    height: 30px;
    cursor: pointer;
}

.main{
    background: #ffffff;
}

body.transaction-details{
    padding: 0px;
    padding-top: 70px;
    background: #ffffff;
}

.forecast-wrap .progress,
.forecast-wrap .progress-bar{
    line-height: normal;
}

.form-submit .btn{
    margin-top: 20px;
    margin-right:25px;
}

.icon-transaction-out,
.icon-transaction-out:hover,
.icon-transaction-in,
.icon-transaction-in:hover {
    text-decoration: none;
}

#displayWClock{
    font-size: 3.5em;
    background: #F8F8F8;
    text-align: center;
    border-radius: 4px;
}

.widget-wclock .form-group:last-child{
    margin-bottom: 0px;
}