@CHARSET "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=latin,latin-ext);

body {
    padding-top: 70px;
    padding-bottom: 30px;

    color: #000;
    font-family: 'Ubuntu', Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #e0e0e0;

    background-image: linear-gradient(top, #FFFFFF 0%, #E3E5E6 67%, #E0E0E0 94%);
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #E3E5E6 67%, #E0E0E0 94%);
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #E3E5E6 67%, #E0E0E0 94%);
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #E3E5E6 67%, #E0E0E0 94%);
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #E3E5E6 67%, #E0E0E0 94%);

    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #FFFFFF),
            color-stop(0.67, #E3E5E6),
            color-stop(0.94, #E0E0E0)
    );

    background-repeat:no-repeat;

    background: #fff;

    overflow-y: scroll;
}

.navbar.navbar-fixed-top,
.navbar .navbar-right{
    font-size: 18px;
}

.sidebar .widget{
    clear: both;
    margin-bottom: 20px;
}

.sidebar .widget-content{

}

.container.main .nav-tabs{
    margin-bottom: 20px;
}